/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/__pycache__
laskarit/viikko2/unicafe/src/tests/__pycache__/
laskarit/viikko2/unicafe/src/__pycache__/
src/database_connection.pyc
src/initialize_database.pyc
src/ui/__pycache__/ui.cpython-38.pyc
src/ui/__pycache__/__init__.cpython-38.pyc
src/services/__pycache__/budget_service.cpython-38.pyc
src/repositories/__pycache__/user_repository.cpython-38.pyc

/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
laskarit/viikko2/unicafe/src/tests/.coverage
laskarit/viikko2/unicafe/src/tests/htmlcov/
src/ui/__pycache__/__init__.cpython-38.pyc
src/ui/__pycache__/login_view.cpython-38.pyc

src/__pycache__/budget.cpython-38.pyc
src/__pycache__/user.cpython-38.pyc
htmlcov/
data/
src/__pycache__/database_connection.cpython-38.pyc
src/__pycache__/initialize_database.cpython-38.pyc

